@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <img src="~/img/waluigiImg1.jpeg" class="w-100"/>
    <a href="~/Exercice2/AfficherPdf">PDF</a>
    <a href="~/Exercice2/AfficherClients">Clients(JSON)</a>
    <a href="~/Exercice2/Index">Index(Exercice2)</a>
    <a href="~/Welcome/Index">Home(Welcome/index)</a>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="carre">
        <h1 class="text-center">Waaaaaaaaaaaazazazazaz</h1>
    </div>
</div>