@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="~/img/waluigiImg1.jpeg" class="w-100"/>
<a href="~/Exercice2/AfficherPdf">PDF</a>
<a href="~/Exercice2/AfficherClients">Clients(JSON)</a>
<a href="~/Exercice2/Index">Index(Exercice2)</a>
<a href="~/Welcome/Index">Home(Welcome/index)</a>